# General ignores
.DS_Store
.obsidian
build
out
kotlin-js-store
.obsidian

site/.kobweb/*
!site/.kobweb/conf.yaml
!site/.kobweb/site

# IntelliJ ignores
*.iml
/*.ipr
.run

/.idea

# Gradle ignores
.gradle

/firebase-tools-instant-win.exe
/site/.kobweb/site/

.env*
*.salive
*.hprof
